/*
  DIAGNOSTIC STYLING
*/
body {
  background: tomato;
  text-align: center;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  /* outline: 1px dotted black; */
}

#arcHeader {
  margin-top: 40vh;
}

/* Your Awesome Scripts */