/*
  DIAGNOSTIC STYLING
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background: tomato;
  text-align: center;
  color: beige;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

* {
  /* outline: 1px dotted black; */
}

#arcHeader {
  margin-top: 40vh;
}

/* Your Awesome Scripts */